<section id="clients" class="section section-clients">
    <div class="animate-up">

        <div class="clients-carousel">
            <div class="client-logo">
                <a href="http://market.envato.com" target="_blank">
                    <img src="img/uploads/logos/logo-dotnet.png" title=".Net" alt=".Net" />
                </a>
            </div>

            <div class="client-logo">
                <a href="http://market.envato.com" target="_blank">
                    <img src="img/uploads/logos/logo-aspdotnet.png" title="ASP.NET" alt="ASP.NET" />
                </a>
            </div>

            <div class="client-logo">
                <a href="https://www.omniref.com/ruby/gems/teaspoon/0.7.9" target="_blank">
                    <img src="img/uploads/logos/logo-csharp.png" title="C#" alt="C#" />
                </a>
            </div>

            <div class="client-logo">
                <a href="https://wordpress.com" target="_blank">
                    <img src="img/uploads/logos/logo-visualbasic.png" title="Visual Basic" alt="Visual Basic" />
                </a>
            </div>

            <div class="client-logo">
                <a href="https://evernote.com" target="_blank">
                    <img src="img/uploads/logos/logo-entityframework.png" title="Entity Framework" alt="Entity Framework" />
                </a>
            </div>

            <div class="client-logo">
                <a href="http://compass-style.org" target="_blank">
                    <img src="img/uploads/logos/logo-aspdotnetcore.png" title="ASP.NET Core" alt="ASP.NET Core" />
                </a>
            </div>

            <div class="client-logo">
                <a href="http://getbootstrap.com" target="_blank">
                    <img src="img/uploads/logos/logo-blazor.png" title="Blazor" alt="Blazor" />
                </a>
            </div>

            <div class="client-logo">
                <a href="http://jasmine.github.io" target="_blank">
                    <img src="img/uploads/logos/logo-visualstudio.png" title="Visual Studio" alt="Visual Studio" />
                </a>
            </div>

            <div class="client-logo">
                <a href="https://jquery.com" target="_blank">
                    <img src="img/uploads/logos/logo-visualbasicforapplications.png" title="VBA" alt="VBA" />
                </a>
            </div>
        </div>
    </div>
</section>
