<section id="courses" class="section section-portfolio">
    <div class="animate-up">
        <h2 class="section-title">Courses</h2>

        <div class="filter">
            <div class="filter-inner">
                <div class="filter-btn-group">
                    <button data-filter="*">All</button>
                    <button data-filter=".csharp">C# .Net</button>
                    <button data-filter=".javascript">Javascript</button>
                    <button data-filter=".aurelia">Aurelia</button>
                    <button data-filter=".typescript">TypeScript</button>
                    <button data-filter=".blazor">Blazor</button>
                </div>
                <div class="filter-bar">
                    <span class="filter-bar-line"></span>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="grid-sizer"></div>

            <div class="grid-item size22 csharp">
                <div class="grid-box">
                    <figure class="portfolio-figure">
                        <img src="img/uploads/portfolio/portfolio-thumb-01-610x600.jpg" alt="" />
                        <figcaption class="portfolio-caption">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">C# in 4 hours</h3>
                                <h4 class="portfolio-cat">4 hours video</h4>

                                <div class="btn-group">
                                    <a href="javascript:;" class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox1" data-fancybox-href="#portfolio1-inline1"><i class="rsicon rsicon-eye"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <!-- Start: Portfolio Inline Boxes -->
                    <div id="portfolio1-inline1" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/GhQdlIFylQ8">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                C# Tutorial - Full Course for Beginners
                            </h2>

                            <div class="inline-text">
                                <p>
                                    This course will give you a full introduction into all of the core concepts in C# (aka C Sharp).
                                    Follow along with the course and you'll be a C# programmer in no time!
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End: Portfolio Inline Boxes -->
                </div>
            </div>
            <!-- .grid-item -->

            <div class="grid-item size11 csharp">
                <div class="grid-box">
                    <figure class="portfolio-figure">
                        <img src="img/uploads/portfolio/portfolio-thumb-02-289x281.jpg" alt="" />
                        <figcaption class="portfolio-caption">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">C# Basics</h3>
                                <h4 class="portfolio-cat">4h30 videos in 15 parts</h4>

                                <div class="btn-group">
                                    <a href="javascript:;" class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline1"><i class="rsicon rsicon-eye"></i></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline2"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline3"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline4"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline5"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline6"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline7"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline8"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline9"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline10"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline11"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline12"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline13"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline14"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox2" data-fancybox-href="#portfolio2-inline15"></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <!-- Start: Portfolio Inline Boxes -->
                    <div id="portfolio2-inline1" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/pSiIHe2uZ2w">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                1. How to program in C# - BASICS - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Want to make powerful games, Windows and Mac software or mobile applications?
                                    Then this course is a great place to start. Difficulty of lesson: Novice.
                                    Learn how to read, write and understand C# code completely from scratch as we
                                    lay a great foundation for creating various types of software.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline2" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/nA2pSmBmvKg">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                2. How to program in C# - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    In this video we write our first program as we learn about input and output, methods and parameters.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline3" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/udoMi4mGYYw">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                3. How to program in C# - VARIABLES - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    In this video we create a simple calculator as we discover the power of variables.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline4" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/OXTK7cnphYY">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                4. How to program in C# - IF STATEMENTS - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    In this video we expand on what our programs can do as we teach them how to make decisions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline5" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/Qs-LAYkp9YU">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                5. How to program in C# - SWITCH - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    In this video we learn about switch statements, classes and how to generate random numbers.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline6" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/eIsGXwisKPE">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                6. How to program in C# - FOR LOOPS - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    In this video we take a look at how for loops work and how to use them.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline7" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/SPE_HXHwJSU">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                7. How to program in C# - WHILE LOOPS - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    In this video we take a look at how while loops work and how to use them to solve problems.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline8" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/QwygwfqOHsI">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                8. How to program in C# - METHODS - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    This is an introductory look at methods (functions) in C#. We discover why they are awesome and how to use them.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline9" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/RQ0JHMGiobo">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                9. How to program in C# - ARRAYS - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    We learn what arrays & lists are and how to use them. We also take a quick look at multidimensional arrays.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline10" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/s2hHjpZaSyI">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                10. How to program in C# - CLASSES - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Things get awesome as we learn about classes and how we can create our own objects by describing them using code.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline11" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/EiBCF7rYRtI">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                11. How to program in C# - INHERITANCE - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    In this video we delve into inheritance. Deriving classes from other classes will allow us to reuse code, minimize errors and keep our program easily readable.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline12" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/ETy3x4XeK9E">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                12. How to program in C# - ENUMS - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    In this video we take a look at enums and why they are useful.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline13" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/gvQziNULkdY">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                13. How to program in C# - PROPERTIES - Beginner Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Learn how to utilize properties, getters and setters to make your code safer and more efficient.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline14" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/IQpss9YAc4g">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                14. How to program in C# - INTERFACES - Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Learn how to use interfaces to improve your code.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio2-inline15" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/ZrjCG0Fu5Ew">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                15. How to program in C# - GENERICS - Tutorial
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Learn how to use generics to create classes and methods using objects of unknown type.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End: Portfolio Inline Boxes -->
                </div>
            </div>
            <!-- .grid-item -->

            <div class="grid-item size11 javascript">
                <div class="grid-box">
                    <figure class="portfolio-figure">
                        <img src="img/uploads/portfolio/portfolio-thumb-07-289x281.jpg" alt="" />
                        <figcaption class="portfolio-caption">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Javascript</h3>
                                <h4 class="portfolio-cat">3 hours video</h4>

                                <div class="btn-group">
                                    <a href="javascript:;" class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox7" data-fancybox-href="#portfolio7-inline1"><i class="rsicon rsicon-eye"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <!-- Start: Portfolio Inline Boxes -->
                    <div id="portfolio7-inline1" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/PkZNo7MFNFg">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                Learn JavaScript - Full Course for Beginners
                            </h2>

                            <div class="inline-text">
                                <p>
                                    This complete 134-part JavaScript tutorial for beginners will teach you everything you need to know to get
                                    started with the JavaScript programming language. The font-size in this tutorial is large, making it perfect
                                    for viewing on small screens.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End: Portfolio Inline Boxes -->
                </div>
            </div>
            <!-- .grid-item -->

            <div class="grid-item size11 blazor">
                <div class="grid-box">
                    <figure class="portfolio-figure">
                        <img src="img/uploads/portfolio/portfolio-thumb-04-610x600.jpg" alt="" />
                        <figcaption class="portfolio-caption">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Blazor</h3>
                                <h4 class="portfolio-cat">30 minutes video</h4>

                                <div class="btn-group">
                                    <a href="javascript:;" class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox4" data-fancybox-href="#portfolio4-inline1"><i class="rsicon rsicon-eye"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <!-- Start: Portfolio Inline Boxes -->
                    <div id="portfolio4-inline1" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/zYeVH_g7ZHo">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                Building Full-stack C# Web Apps with Blazor in .NET Core 3.0
                            </h2>

                            <div class="inline-text">
                                <p>
                                    .NET Core 3.0 includes support for Blazor, a new client-side web UI framework based on C# instead of JavaScript.
                                    In this session you'll see how to build Blazor Server apps with rich, interactive web UI where all the UI interactions
                                    are handled over a real-time SignalR connection.
                                    We'll look at how to build Blazor components using a combination of C#, HTML, and CSS.
                                    We'll also show you how to deploy your Blazor Server apps and how to secure them.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End: Portfolio Inline Boxes -->
                </div>
            </div>
            <!-- .grid-item -->

            <div class="grid-item size22 typescript">
                <div class="grid-box">
                    <figure class="portfolio-figure">
                        <img src="img/uploads/portfolio/portfolio-thumb-05-610x600.jpg" alt="" />
                        <figcaption class="portfolio-caption">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">TypeScript</h3>
                                <h4 class="portfolio-cat">3 hours video</h4>

                                <div class="btn-group">
                                    <a href="javascript:;" class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox5" data-fancybox-href="#portfolio5-inline1"><i class="rsicon rsicon-eye"></i></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <!-- Start: Portfolio Inline Boxes -->
                    <div id="portfolio5-inline1" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/BwuLxPH8IDs">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                TypeScript Course for Beginners 2020 - Learn TypeScript from Scratch!
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Free TypeScript Introduction for Beginners: Get Started with TypeScript, learn the Basics, its Features, Workflows and how to use it!
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End: Portfolio Inline Boxes -->
                </div>
            </div>
            <!-- .grid-item -->

            <div class="grid-item size11 aurelia">
                <div class="grid-box">
                    <figure class="portfolio-figure">
                        <img src="img/uploads/portfolio/portfolio-thumb-06-289x281.jpg" alt="" />
                        <figcaption class="portfolio-caption">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Aurelia</h3>
                                <h4 class="portfolio-cat">1h30 videos in 8 parts</h4>

                                <div class="btn-group">
                                    <a href="javascript:;" class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox6" data-fancybox-href="#portfolio6-inline1"><i class="rsicon rsicon-eye"></i></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox6" data-fancybox-href="#portfolio6-inline2"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox6" data-fancybox-href="#portfolio6-inline3"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox6" data-fancybox-href="#portfolio6-inline4"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox6" data-fancybox-href="#portfolio6-inline5"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox6" data-fancybox-href="#portfolio6-inline6"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox6" data-fancybox-href="#portfolio6-inline7"></a>
                                    <a href="javascript:;" class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox6" data-fancybox-href="#portfolio6-inline8"></a>
                                </div>
                            </div>
                        </figcaption>
                    </figure>

                    <!-- Start: Portfolio Inline Boxes -->
                    <div id="portfolio6-inline1" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/eibkvFIpToQ">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                Introduction To Aurelia JS | Features & Advantages | Part 1 | Eduonix
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Aurelia JS is a modern UI framework used for Web and Mobile App Development.
                                    It helps you write clean, modular JavaScript. You are required to have some basic knowledge
                                    of pure JavaScript and HTML. This framework is very easy to use and you’ll have a lot of fun learning it.
                                    We hope you like this new series. In this video, we will be going to the introduction and features of this framework.
                                    <br />
                                    Happy Learning!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio6-inline2" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/gN_1EAc_wY8">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                Introduction To Aurelia JS | Installation | Part 2 | Eduonix
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Aurelia JS is a very modern user-friendly UI framework used for developing Web and Mobile Apps.
                                    This framework is very easy to use and you’ll have a lot of fun learning it. Last time we just had
                                    an overview as to what exactly Aurelia entails. The hardest part of learning a new framework is to start it.
                                    But the case is different with Aurelia. The installation and set up process is very easy as it keeps
                                    everything ready and you can start your project right away. This is what we're going to look into today.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio6-inline3" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/idWPiNkoSDs">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                Introduction To Aurelia JS | Application Structure | Part 3 | Eduonix
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Welcome back, Learners! How are you liking Aurelia JS so far? It might seem a little different
                                    but this framework is actually pretty easy to use with practice. Let's continue, so we are done
                                    with the Installation part of the tutorial, in this chapter let's talk about what is Application
                                    Structure in Aurelia. we will cover the various aspects of it like package.json, index.html, config.js, styles, and src.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio6-inline4" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/B4W_xkxo36M">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                Introduction To Aurelia JS | ES6 And ES7 | Part 4 | Eduonix
                            </h2>

                            <div class="inline-text">
                                <p>
                                    urelia JS since the recent past has been running side by side of Google's Angular because of its very useful
                                    features like extensible HTML, multiple language support, MV approach, etc. So we really hope you're enjoying this series.
                                    In the last chapter, we covered the Application structure of Aurelia. We will be looking at the capabilities of ES6 & ES7
                                    in detail in this class. We get some important paradigms from ES6 and ES7. Aurelia allows you to develop your applications
                                    more efficiently with them.  Because this is an Aurelia tutorial we will only focus on the
                                    features which are required to build an application in Aurelia.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio6-inline5" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/Flf95Z1HJ0o">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                Introduction To Aurelia JS | Components | Part 5 | Eduonix
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Are you enjoying the Aurelia series so far?  Components are the main building blocks of Aurelia framework.
                                    They basically consist of view and model. Today we shall discuss the functionality of components and how to
                                    create them in Aurelia. Please let us know if you have any doubts about anything in the comments down below.
                                    Enjoy.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio6-inline6" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/l8Mg-Cf0JKI">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                Introduction To Aurelia JS | Component Lifecycle | Part 6 | Eduonix
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Welcome back, are you having fun with Aurelia JS? We are now clear with the concept of components right?
                                    In today's class we will be looking at the Component Lifecycle in Aurelia. We will be discussing major
                                    concepts and some practical examples for them.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio6-inline7" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/HsgLCQSqdig">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                Introduction To Aurelia JS | Data Binding | Part 7 | Eduonix
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Welcome back! This is the 7th part of this series, gradually moving ahead. It was fun learning about the
                                    Component Lifecycle. Now let's move on to the next topic which is 'Data Binding'! It is one of the most
                                    important feature of Aurelia.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio6-inline8" class="fancybox-inline-box">
                        <div class="inline-embed" data-embed-type="iframe"
                             data-embed-url="https://www.youtube.com/embed/Tj5IcjIC-YQ">
                        </div>
                        <div class="inline-cont">
                            <h2 class="inline-title">
                                Introduction To Aurelia JS | Custom Elements | Part 8 | Eduonix
                            </h2>

                            <div class="inline-text">
                                <p>
                                    Ready for another topic in Aurelia JS? We hope you are liking this series so far.
                                    Today we are going to cover, 'Custom Elements'! It is the primary tool an Aurelia developer
                                    utilizes for componentizing an application. We will be focusing on creating a custom element in Aurelia.
                                    You can reuse these components in various parts of your app without including the HTML aspect of it.
                                    So let's start!
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End: Portfolio Inline Boxes -->
                </div>
            </div>
            <!-- .grid-item -->

        </div>

        <div class="grid-more">
            <span class="ajax-loader"></span>
            <button class="btn btn-cool btn-border"><i class="rsicon rsicon-add"></i></button>
        </div>
    </div>
</section>
