<section id="privacy" class="section section-text">
    <div class="animate-up animated">
        <h2 class="section-title">Privacy policy</h2>

        <div class="section-box">
            <p>
                <span class="badge badge-outlined badge-secondary">A</span>
                Some of my clients requested to remain anonymous for security reasons.
                In that case you will not see any information appearing to identify them.
                This is particularly the case for companies that require a high level of security for their IT system.
            </p>
            <p>
                <span class="badge badge-outlined badge-secondary">B</span>
                Some videos and blog posts shared on this website are not mine.
                They belong to their respective author.
            </p>
            <p>
                <span class="badge badge-outlined badge-secondary">C</span>
                Most testimonials that appears on this site are written for the authors of blog posts and videos
                and are therefore not always addressed directly to me. They reflect user's own opinion.
            </p>
            <p>
                <span class="badge badge-outlined badge-secondary">D</span>
                I do not share personal information with third-parties nor do I store information collected
                about your visit for use other than to analyze content performance through the use of cookies,
                which you can turn off at anytime by modifying your Internet
                browser’s settings. I am not responsible for the republishing of the content found on this blog
                on other Web sites or media without permission.
            </p>
            <p>
                <span class="badge badge-outlined badge-secondary">E</span>
                I reserve the right to edit or delete any comments submitted to this blog without notice due to
                spam, profanity, offensive language or comments that attack a person individually.
            </p>

        </div>
    </div>
</section>